footer {
    background-color: var(--footer-bg-color);
}

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--footer-text-color);
}

footer nav ul {
    display: flex;
    gap: 1rem;
}

footer nav li {
    display: inline-block;

}
